<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Usuarios</title>
</head>

<body>
    <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth" id="table_usuario">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Fecha de creacion</th>
            </tr>
        </thead>
        <tr>

        </tr>
        </tbody>
    </table>
</body>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        fetch('http://localhost:6060/app/usuario')
            .then(response => response.json())
            .then(data => {
                let tablaUsuario = document.getElementById('table_usuario').getElementsByTagName('tbody')[0]
                data.forEach(tableData => {
                    let row = `<tr>
                        <td>${tableData.idusuario}</td>
                        <td>${tableData.nombre_usuario}</td>
                        <td>${tableData.apellido_usuario}</td>
                        <td>${tableData.correo_usuario}</td>
                        <td>${tableData.estado_usuario}</td>
                        <td>${tableData.fecha_creacion}</td>                        
                    </tr>`
                    tablaUsuario.innerHTML += row
                });

                console.log(data)
            });
    })

</script>

</html>